/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self 
*/

@import "base";
@import "compass/layout";
@import "compass/css3";
@import "fancy-buttons";

@include blueprint;
@include sticky-footer(30px, ".wrapper", ".wrapper_footer", "footer");

$brown: #4C2D00;
$beige: #F9F8DE;
$tan: #EFD58C;

$top_margin: 30px;

body {
  background-image:url('/assets/page_bg.png'); 
  margin: 0 auto;
}

.header_bg {
  position: absolute;
  z-index: -10;
  margin-top: $top_margin;
  background: $brown;
  height: 30px;
  width: 100%;
}

.wrapper {
  @include container;

  /* you'll have to negate the top margin
   *  to accomodate the sticky-footer
   */
  margin-bottom: -$top_margin;


  header {
    @include column(16, true);
    margin-bottom: 20px;
    .site_logo {
      @include column(5);
    }
    .site_tag {
      @include column(3);
      margin-top: 30px;
      color: $beige;
      font-size: 150%;
    }
    .nav {
      @include column(8, true);
      margin-top: 35px;
      text-align: right;
      a {
        color: $beige;
        text-decoration: none;
        margin-left: 50px;
      }
    }
  }

  .notice {
  }

  .alert {
  }
}

footer {
  width: 100%;
  background: $brown;
  .fwrap {
    color: $beige;
    width: 940px;
    margin: 0px auto;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      color: $beige;
    }
  }
}
